.payment-form{
    display:flex;
    flex-direction: column;
    padding:10px 5px 10px 5px;
    margin: 0px 25px;
}
.payment{
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    margin-bottom: 100px;
    background-color: #b3b3b3;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -8px 11px 20px #000;
}
.itemtotal{
    margin:0;
    text-align: center;
    color:white
}
.itemprice{
    margin-bottom: 10px;
}
.review-items{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.grandtotal-div{
    display:flex;
    background-color: #ffb100;
    width: 200px;
    border-radius: 10px;
    padding:6px;
    margin: 35px;
}
.grandtotal{
    color:red;
    margin:0;
    font-family: cursive;
    font-weight: 700;
    margin-left: 15px;
}
.payment-form div{
    margin-bottom:10px !important;
    color:black !important;
    width: 250px;
}
.pay-button{
    margin-top:10px;
    height: 45px
}
.thankyou{
    display: flex;
    align-items: center;
    margin: 100px;
}
.thankyou p{
    font-size:30px
}
.payment-details{
    color:rgb(0, 0, 0);
    font-size:20px;
    text-align:center;
    margin-bottom:25px;
    font-family: revert;
    font-weight: bolder;
}